@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url("../font-awesome/css/font-awesome.css");

*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.nombre {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    color:white;
    font-size: 80px;
    padding-top: 150px;
}


.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background: #E4E4E4;
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1);
}

    .fixed-nav-bar li,
    .fixed-nav-bar a {
        height: 50px;
        line-height: 50px;
    }

.menu {
    width: 100%;
    margin: 15px auto;
   
}

    .menu a,
    .menu a:visited {
        color: #666666;
    }

        .menu a:hover,
        .menu a:target {
            color: #333333;
        }

.menu-items {
    float: right;
    display: inline-block;
    padding-right: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    
}

    .menu-items li a {
        padding: 0 10px;
        
    }

    .menu-items li {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        
    }

    .menu-items a {
        text-decoration: none;
        
    }

.galeria {
    margin: 90px auto 0;
    width: 58%;
    transform-style: preserve-3d;
    height: 30%;
}

    .galeria:before {
        content: '';
        padding-top: 56.25%;
        display: inline-block;
        width: 0;
    }

.card {
    background-size: 2px 2px, cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
    border-radius: 3px;
    font-family: 'Great Vibes';
}

.slider-1 {
    background-image: url(), url(../images/slider/images.jpg);
}

.slider-2 {
    background-image: url(), url(../images/slider/city-cars-traffic-lights.jpg);
}

.slider-3 {
    background-image: url(), url(../images/slider/pexels-photo-140945.jpeg);
}

.subtitle {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
}

.card p {
    text-align: center;
    color: #fff;
    font-size: 5vw;
    line-height: 1.3;
    margin-top: 3vh;
}

input {
    visibility: hidden;
}

.label-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: #fff;
    font-size: 4vw;
    line-height: 15vh;
    text-align: right;
    height: 15vh;
    width: 4vw;
    cursor: pointer;
    opacity: .2;
    transition: .5s linear;
}

.otra + .otra,
#first:checked ~ .slider-3 .afin,
#second:checked ~ .slider-1 .afin,
#third:checked ~ .slider-2 .afin {
    right: 0;
    text-align: left;
}

#first:checked ~ .slider-1 .otra,
#second:checked ~ .slider-2 .otra,
#third:checked ~ .slider-3 .otra {
    display: block;
}

#first:checked ~ .slider-1 .afin,
#second:checked ~ .slider-2 .afin,
#third:checked ~ .slider-3 .afin,
:not(:checked) ~ .otra {
    display: none;
}

.card:hover .label-slider {
    animation: pulso 1.5s infinite alternate;
}

    .card:hover .label-slider + .label-slider {
        animation-delay: .5s;
    }

    .card:hover .label-slider:hover {
        color: #333333;
        opacity: 1;
    }

#first:checked ~ .slider-2,
#second:checked ~ .slider-3,
#third:checked ~ .slider-1 {
    animation: 1s fuera-izq;
    animation-fill-mode: forwards;
    transform-origin: center left;
    z-index: 2;
}

#first:checked ~ .slider-3,
#second:checked ~ .slider-1,
#third:checked ~ .slider-2 {
    animation: 1.5s fuera-dch;
    animation-fill-mode: forwards;
    transform-origin: center right;
    z-index: 2;
}

#first:checked ~ .slider-1,
#second:checked ~ .slider-2,
#third:checked ~ .slider-3 {
    animation: 2s central;
    animation-fill-mode: forwards;
    transform-origin: center center;
    z-index: 3;
}

@keyframes fuera-izq {
    0% {
        transform: scale(1) translatex(0%);
    }

    70% {
        transform: scale(.9) translatex(-100%);
    }

    100% {
        transform: scale(.9) translatex(-7%);
    }
}

@keyframes fuera-dch {
    0% {
        transform: scale(1) translatex(0%);
    }

    70% {
        transform: scale(.9) translatex(100%);
    }

    100% {
        transform: scale(.9) translatex(7%);
    }
}

@keyframes central {
    0% {
        transform: scale(.8);
        z-index: 1;
    }

    80% {
        transform: scale(.5);
        z-index: 3;
    }

    100% {
        transform: scale(1);
        z-index: 3;
    }
}

@keyframes pulso {
    50% {
        opacity: .7;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #dedede;
}

.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    background: #40474c;
}

    .topHome .fa-2x {
        font-size: 20px;
        color: #fff;
        margin: 4px;
    }
/** 
 * ===================================================================
 * Estilos - Paralax 
 *
 * ------------------------------------------------------------------- 
 */

.paralax {
   /* padding-top: 0px;*/
    width: 1900px;
    margin: 40px -550px 60px;
   
    background-image: url('../images/paralax.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.paralax-blink {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.37);
    color: #FDFDFD !important;
}
/** 
 * ===================================================================
 * Estilos - formulario contacto
 *
 * ------------------------------------------------------------------- 
 */

form {
    max-width: 1000px;
    text-align: center;
    margin: 20px auto;
}

    form input,
    form textarea {
        border: 0;
        outline: 0;
        padding: 1em;
        display: block;
        background: #f1f2f7;
        width: 100%;
        margin-top: 1em;
        font-family: 'Merriweather', sans-serif;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        resize: none;
    }

        form input:focus,
        form textarea:focus {
            -moz-box-shadow: 0 0px 2px #40474c !important;
            -webkit-box-shadow: 0 0px 2px #40474c !important;
            box-shadow: 0 0px 2px #40474c !important;
        }

    form #input-submit {
        color: white;
        background: #40474c;
        cursor: pointer;
    }

        form #input-submit:hover {
            -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
            -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
            box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
        }

    form textarea {
        height: 150px;
    }

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}


/* Clearfix */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf input {
    visibility: visible;
}