*{
	
	margin:0;
	padding:0;
}

body{
	font-size:14px;
	color:#bac42f;
	background-image: url("img/code.jpg");
	background-size: cover;
	font-family:Arial, Helvetica, sans-serif;
}

#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.75s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu a{
	background:url('img/navigation1.jpg') no-repeat;

	height:39px;
	width:38px;
	display:block;
	position:relative;
}

/* estilos hover */

#navigationMenu a:hover span{ width:auto; padding:40px 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	
	/* CSS  box-shadow  */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 10px 5px #9ddff5;
}

/* boton glosario */

#navigationMenu .home {	background-position:0 0;}
#navigationMenu .home:hover {	background-position:0 -39px;}
#navigationMenu .home span{
	background-color:#7da315;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}

/* boton curriculum */

#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}

/* boton Web grupo */

#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
	background-color:#d0a525;
	color:#604e18;
	text-shadow:1px 1px 0 #d8b54b;
}

/* boton carpeta */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
	background-color:#d0a525;
	color:#604e18;
	text-shadow:1px 1px 0 #d8b54b;
}


/* boton contacto */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#af1e83;
	color:#460f35;
	text-shadow:1px 1px 0 #d244a6;
}

/* posicion del menu */

#main{
	margin:80px auto;
	position:relative;
	width:40px;
}


h1 {
    color: #68B3AE;
    font-size: 30px;
    font-weight: normal;
    padding: 60px 0 20px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    background-color:white;
}

h2{
	font-weight:normal;
	text-align:center;
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

a, a:visited,a:active {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

p.note{
	color:#707070;
	font-size:10px;
	text-align:center;
	margin:50px;
}
/*capa imagen*/

.capaImagen{
position:absolute;
top:30%;
left:10%;
transform:translate(-50%, -50%);
box-shadow: 15px 15px 15px #A9A9A9;
-webkit-transition: all 2s ease;
 transform : scaleX(-1);
 filter: FlipH;
}
.capaImagen:hover{
transform: rotate(360deg);
}
#titulo{
position:absolute;
top:8%;
left:-400%;
font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
color:#fff;
}
#titulo1{
position:absolute;
top:28%;
left:-400%;
font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
color:#fff;
}
#titulo2{
position:absolute;
top:48%;
left:-400%;
font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
color:#fff;
}
.contactame{
	display:inline;
	margin-left:0%;
	width:15%;
	margin-top:0;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:infinite;
}
.email{
	display:inline-block;
	width:3%;
	margin-left:10%;
	opacity:0.9;
	margin-bottom:5%;
}
section {
   
   
    text-align: center;
}

#id02 .myPointer{
	font-family: 'Gloria Hallelujah', cursive;
	margin-top:5%;
	opacity:0.5;
}
#id02{
   	width:100%;
}
#id02:hover .sobremi{
	transition:3s ease;
	width:15%;
	opacity:1;
}
#id02:hover .sobreMi{
	transition:2s ease;
	font-size:25px;
	opacity:1;
	
}
.sobreMi {
    opacity: 0;
    font-family: 'Gloria Hallelujah', cursive;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    background-color: white;
   
}
@media screen and (min-width:320px) and (max-width:700px){
.stylePadre{
	width:20%;

	}
}
